header h1 {
    text-align: center;
}
header #openbutton {
    position: fixed;
    top: 1.5em;
    left: 1em;
    color: #818181;
}

body {
    font-family: sans-serif;    
}

main{
    text-align: center;
}
main p {
    padding: 1em;
    text-align: justify;
}

.header {
    height: 20em;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center center;
}
#assignment1 {
    background-image: url(img/assignment1.png);
}
#project1 {
    background-image: url(img/project1.png);
}
#project2 {
    background-image: url(img/project2.png);
}

/* Grid */
.grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

/* Grid for About Me page */
.grid-aboutme {
    display: grid;
    grid-template-columns: 30% 70%;
}
.grid-aboutme img {
    max-width: 100%;
}

/* Side Navigation */
/* Source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sidenav */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 2.5em;
}
.sidenav a {
    padding: 0.75em 0.75em 0.75em 2em;
    text-decoration: none;
    font-size: 1.5em;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav .closebutton {
    position: absolute;
    top: 0;
    right: 1em;
    font-size: 2em;
    margin-left: 4em;
}
.sidenav .closebutton:hover {
    cursor: pointer;
}
#openbutton {
    cursor: pointer;
}

/* Footer */
footer {
    text-align: center;
    background: #818181;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
}
footer img {
    max-width: 3em;
}

/* Format for mobile devices */
@media only screen and (max-width: 500px) {    
    header #openbutton {
        position: relative;
        top: 1em;
        left: 1em;
    }

    .floatleft {
        float: none;
    }
    .floatleft img {
        width: 100%;
    }

    .grid {
        display: grid;
        grid-template-columns: 100%;
    }
    .grid img {
        height: 20em;
    }

    footer img {
        max-width: 2em;
    }
    footer {
        width: 100%;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 2.5em;
    }
    .sidenav a {
        padding: 0.75em 0.75em 0.75em 2em;
        text-decoration: none;
        font-size: 1em;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    .sidenav a:hover {
        color: #f1f1f1;
    }
    .sidenav .closebutton {
        position: absolute;
        top: 0;
        right: 1em;
        font-size: 2em;
        margin-left: 4em;
    }
}

/* Format for tablets */
